.contentCard {
	height: 300px;
	width: 200px;
	background-size: cover;
	border-radius: 25px;
	overflow: hidden;
	cursor: pointer;
	padding: 0;
}

.cardBackground {
	background: rgb(42, 51, 53, 0.3);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	transition: 0.3s;
}

.cardBackground:hover {
	background: rgb(42, 51, 53, 0);
}

.cardText {
	color: #fff;
	padding: 5px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

.contentDetails div {
	background: rgb(77, 82, 82);
	margin: 10px;
	border-radius: 20px;
	border: 1px solid rgb(255, 255, 255);
	padding: 5px 10px;
	display: inline-block;
	box-shadow: 4px 6px 86px -2px rgba(0, 0, 0, 1);
}
