@media screen and (max-width: 768px) {
	.mightAlsoLikeCard,
	.newTrailerCard {
		height: 150px;
		width: 200px;
	}
	.contentCard {
		height: 250px;
		width: 200px;
	}

	.mainRow {
		gap: 50px;
	}

	.trailerList {
		width: 90%;
		height: auto;
		display: flex;
		gap: 15px;
		margin-bottom: 50px;
	}

	.newTrailerCard {
		flex-shrink: 0;
	}

	.trailerList::-webkit-scrollbar {
		height: 7px;
	}
}
